<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Edit Profile</h2>
      </div>
    </div>
  </div>
</header>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="profile-form">
    <div class="form-group">
      <%= f.label :interests %><br />
      <%= f.text_field :interests, class: 'form-control formFields' %>
    </div>
    <div class="form-group">
      <%= f.label :skills %><br />
      <%= f.text_field :skills, class: 'form-control formFields', maxlength: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :bio, "Description" %><br />
      <%= f.text_area :bio, class: 'form-control formFields', rows: 5, maxlength: 500 %>
    </div>
    <center><%= f.submit "Update Profile", class: "btn-primary"%></br></br>
  <% end %>
   <%= button_to "Delete Account", user_path(@user), :method => :delete, data: {confirm: "Are you sure you want to delete your account? All of your created projects will be gone forever. :'("}, class: "btn-primary btn-caution" %>
</center>
  </div>