<!DOCTYPE html>
<html>
	<div class="account-header">
		<h2 class="account-heading text-uppercase">ACCOUNT INFORMATION</h2>
	</div>
	
	
	<div class="account-container">
		<div class="tab" role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Profile</a></li>
				<li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab">Projects</a></li>
				<li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab">Collaborations</a></li>
			</ul>
			<div class="tab-content">
			  
			  
				<div role="tabpanel" class="tab-pane fade in active" id="1">
					<div class="account-bio">
						<div style= "float:right">
							<% if @user == current_user %>
							<%= button_to "edit profile", edit_user_path(@user), :method => :get, class: "account-table-btn btn-primary js-scroll-trigger"%>
							<% end %> 
						</div>
						<br>
						<br>
						<center>
							<img src="/images/alfie_logo1.png" class="user-imag" style="width:15%; border-radius: 50%;">
							<h1><%= @user.name %></h1>
							<div align="center" style="color:gray">Joined <%= @user.created_at.strftime("%m-%d-%Y") %></div>
							<br>
							<br>
						</center>
						<div align="left">
							<h4>Interests: <%= @user.interests %></h4>
						</div>
						<div align="left">
							<h4>Skills: <%= @user.skills %></h4>
						</div>
						<hr/>
						<h4>Bio: <%= simple_format @user.bio %></h4>
						<hr/>
					</div>
				</div>
				
				
				<div role="tabpanel" class="tab-pane fade in" id="2">
					<h2 class="column-title" style="text-align:center; margin-top: 2em ">PROJECTS CREATED</h2>
					<div class="project-list-info">
						<% if @user.created_projects.blank? == false %>
						<div class="project-table-list">
							<table id="projects">
								<thead>
									<tr>
										<th>Title</th>
										<th>Summary</th>
										<% if @user == current_user %>
										<th>Project and Collaborators</th>
										<th>Notifications</th>
										<% end %>
									</tr>
								</thead>
								<tbody>
									<% @user.created_projects.each do |p| %>
									<tr>
										<td>
											<%= link_to p.title, project_path(p)  %>
										</td>
										<td>
											<%= p.summary%>
										</td>
										<% if @user == current_user %>
										<td>
											<table>
												<tr>
													<td style= "font-size: 0.75em">
														<center><%= button_to "manage", edit_project_path(p), :method => :get, class: "account-table-btn btn-primary js-scroll-trigger" %></center>
													</td>
													<td style= "font-size: 0.75em">
														<center><%= button_to "delete", project_path(p), :method => :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: "account-table-btn btn-primary js-scroll-trigger" %></center>
													</td>
												</tr>
											</table>
										</td>
										<td>
											<% if p.potentials.length != 0 %>
											You have potentials waiting
											<%else%>
											No potentials
											<%end%>
										</td>
										<% end %> <!-- end for @user == current_user %> -->
									</tr>
									<% end %> <!-- end for @user.created_projects.each -->
								</tbody>
							</table>
						</div>
						<% else %> <!-- else for @user.created_projects -->      
						<h3 style="text-align:center; color:gray"> You haven't created any projects. Go start one!</h3>
						<% end %>      
					</div>
				</div>
				
				
				<div role="tabpanel" class="tab-pane fade in" id="3">
					<h2 class="column-title" style="text-align:center; margin-top: 2em ">PROJECT COLLABORATIONS</h2>
					<% if @user.collab_projects.blank? == false %>
					<div class="project-table-list">
						<table id="projects">
							<thead>
								<tr>
									<th>Title</th>
									<th>Creator</th>
									<th>Summary</th>
									<% if current_user == @user%>
									<th>Manage</th>
									<%end%>
								</tr>
							</thead>
							<tbody>
								<% @user.collab_projects.each do |p| %>
								<tr>
									<td>
										<%= link_to p.title, project_path(p)  %>
									</td>
									<td>
										<% if current_user != nil %>
										<% if p.creator.id == current_user.id %>
										<%= p.creator.name %> (You)
										<% else %>
										<%= link_to p.creator.name, user_path(p.creator) %>
										<% end %>
										<% else %> 
										<%= link_to p.creator.name, user_path(p.creator) %>
										<% end %>
									</td>
									<td>
										<%= p.summary %>
									</td>
									<% if current_user != p.creator && current_user == @user %>
									<td style= "font-size: 0.85em">
										<center><%= button_to "retract collab",reject_path(p, :user => current_user), :method => :post, data: {confirm: "Are you sure you don't want to be a collaborator?"}, class: "account-table-btn btn-primary js-scroll-trigger" %></center>
									</td>
									<%elsif current_user == p.creator%>
									<td style= "font-size: 0.85em">
										<center><%= button_to "manage", edit_project_path(p), :method => :get, class: "account-table-btn btn-primary js-scroll-trigger" %></center>
									</td>
									<%end%> 
								</tr>
								<% end %>
							</tbody>
						</table>
						<% else %> 
						<h3 style="text-align:center; color:gray"> You haven't requested to work on any projects. Go find one! </h3>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>