<div style="height:10em;" class="span12">
</div>
<div class="container">
  



<div class="Absolute-Center-Project is-Responsive">
 <center>
   <img src="/images/alfie_logo1.png" class="user-imag" style="width:15%; align:center; border-radius: 50%;">
   <h1><%= @user.name %>
   </h1>
   <div align="center" style="color:gray">Joined <%= @user.created_at.strftime("%m-%d-%Y") %></div>
   </center>
<br>


<div align="left">Projects collaborated: </div>
<div align="left">Interests: <%= @user.interests %></div>
<div align="left">Skills: <%= @user.skills %> </div>

<hr/>
Bio: <%= @user.bio %> </div>
<hr/>
<p>
  <% if @user == current_user %>
      <%= link_to "Edit profile",  edit_user_path %> | 
  <% end %> 
  <%= link_to "Back to projects", projects_path %></p>

  </div>




<br>
   <h4>Projects created: </h4>
<div class="Absolute-Center-Project is-Responsive project-list-info">

 <div class="project-table-list">  

<center>
  <table id="projects">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Summary</th>
      <th>Collaborators</th>
      <% if @user == current_user %>
      <th>Potentials</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    
    <% Array(@user.created_projects).each do |p| %>
      <tr>
        <td>
          <%= link_to p.title, project_path(p)  %>
        </td>
        <td>
          <%= link_to p.creator.name, user_path(p.creator) %>
        </td>
        <td>
          <%= p.summary %>
        </td>
    
          <td>
                <table id="collaborators">  
               <% p.collaborators.each do |collab| %>
                <tr>
                  <td>Name <% link_to collab.name, user_path(collab) %></td>
                  <% if current_user %>
                  <td>(DELETE)</td>
                  <% end %>
                </tr>
                
                <% end %>
                
              </table>
                          
              </td>

          <% if @user == current_user %>
            <td>         
            <table id="potentials">
                <tr>
                  <td>NAME</td>
                  <% if current_user %>
                  <td>(ACCEPT)</td>
                  <td>(DECLINE)</td>
                  <% end %>
                </tr>
            </table>
          </td>
        <% end %>
          </tr>
    <% end %>
  </tbody>
</table>
</div>

</center>

</div>

</div> <!-- table div -->
