<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Manage <%= @project.title %></h2>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <ul id="tabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#potentials">
        Manage Potentials</button>
    </li>
    
    <li class="nav-item">
<button class="btn btn-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collaborators">
        Manage Collaborators</button>
    </li>
  </ul>
  </div>
</div>


<div class="panel-group" id="accordion">
  <div class="panel">
    <div id="potentials" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="project-table-list">
          <table id="projects">
          <!--<thead>-->
          <!--  <tr>-->
          <!--    <th>User</th>-->
          <!--    <th>Manage</th>-->
          <!--  </tr>-->
          <!--  </thead>-->
            <tbody>
              <% if @project.potentials.length == 0 %>
                No potential users.
              <% end %>
              <% @project.potentials.each do |p| %>
                <tr>
                  <td>
                    <%= link_to p.name, user_path(p)  %>
                  </td>
                  <td>
                    <%= button_to "Approve", approve_path(@project, :user => p), :method => :post, class: "btn-primary" %>
                  </td>
                  <td>
                    <%= button_to "Reject", reject_path(@project, :user => p), :method => :post, class: "btn-primary btn-caution" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div id="collaborators" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="project-table-list">
          <table id="projects">
          <!--<thead>-->
          <!--  <tr>-->
          <!--    <th>User</th>-->
          <!--    <th>Manage</th>-->
          <!--  </tr>-->
          <!--  </thead>-->
            <tbody>
              <% if @project.collaborators.length <= 1 %>
                You are the only collaborator. Find some friends!
              <% end %>
              <% @project.collaborators.each do |c| %>
                <tr>
                  <td>
                    <%= link_to c.name, user_path(c)  %>
                  </td>
                  <td>
                    <% if c == @project.creator %>
                      Project creator
                    <% else %>
                      <%= button_to "Delete", delete_collaborator_path(@project, :user => c), :method => :post, class: "btn-primary" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="new-project">
        <center><h3 class="section-heading text-uppercase">Edit Project</h3> </center>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: 'form-control formFields' %>
    </div>
    <div class="form-group">
      <%= f.label :summary %><br />
      <%= f.text_field :summary, class: 'form-control formFields', maxlength: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Description" %><br />
      <%= f.text_area :description, class: 'form-control formFields', rows: 5, maxlength: 500 %>
    </div>
    <div class="form-group">
        <%= f.label :project_type, "Project Type" %><br />
        <%= f.select :project_type, ['Hobby', 'Academic', 'Startup'], {}, class: 'form-control formFields'%>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list, class: 'form-control formFields' %>
    </div>
    <center><%= f.submit "Update project", class: "btn btn-primary js-scroll-triggery"%>
  <% end %>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>