<div style="height:10em;" class="span12">
</div>
<div class="container">
<h1><%= @project.title %></h1>

<%= simple_format @project.creator %>
<p>
  Tags: <%= raw @project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<%= simple_format @project.description %>

<p>
  <%= link_to "Back to projects", projects_path %>
</p>
</div>