<!DOCTYPE html>
<html>
  <head>
    <title>TechStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TechStudio</a>
      </div>
      
      <ul class="nav navbar-nav">
        <li><a href="/pages/home">Home</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      
      <ul class="nav navbar-right">
        <li>
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>! <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
        </li>
      </ul>
    </div>

  </nav>

<!-- BODY -->
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
  
<!-- FOOTER -->
  <footer>
    <div class="row-footer">
        <span class="copyright">Copyright &copy; TECHSTUDIO 2018</span>
    </div>
  </footer>


</html>