<!DOCTYPE html>
<html>
  <head>
    <title>TechStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TechStudio</a>
      </div>
      
      <ul class="nav navbar-nav navbar-test">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      
      <% if current_user %>
        <ul class="nav navbar-right">
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        </ul>
        <ul class="nav navbar-right">
          <li><%= link_to current_user.name, user_path(current_user) %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-right">
          <li><%= link_to"Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
        </ul>
      <% end %>
    </div>
  </nav>

<!-- BODY -->
  <body>
    <center>
    <div style="height:5em;" class="span12"></div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>
    </center>
    <div>
      <%= yield %>
    </div>
  </body>
  
<!-- FOOTER -->
  <footer>
    <div class="row-footer">
        <span class="copyright">Copyright &copy; TECHSTUDIO 2018</span>
    </div>
  </footer>


</html>